# PDF output
*.pdf

# Intermediate LaTeX files
*.aux
*.log
*.out
*.toc
*.nav
*.snm
*.loa
*.lot
*.lol
*.ind
*.nls
*.nlo
*.nlg
*.ilg
*.idx
*.ist
*.blg
*.bbl
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex.gz.z
*.vrb
*.dep
*.dvi
*.dtx
*.fd
*.fmt
*.fmt.lua
*.fmt_lualatex
*.fmt_latex
*.fmt_pstricks
*.fmt_xetex
*.4tc
*.4tf
*.synctex
*.ctg
*.csg
*.calg